.header {
  position: fixed;
  width: 100%;
  height: 45px;
  top: 0;
  background-color: #ff7d14;
  text-transform: uppercase;
  &_logo {
    font-family: 'Trade Winds', cursive;
    font-size: 22px;
  }
  &_login {
    font-size: 15px;
  }
  &_online {
    font-size: 15px;
  }
}
