* {
    user-select: none;
}
body {
    background-color: #FFFAFA;
    font-family: 'Roboto Slab', serif;
    overflow-y: scroll;
}

input, textarea {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
